@inherits LayoutComponentBase

<PageTitle>FileUploader</PageTitle>

<div class="page">
    <main>
        <div class="navbar navbar-light bg-light px-4">
            <strong>File Uploader</strong>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
